testing
installation/external_software
sync_git.py
installation/test_installation/__pycache__
installation/test_installation/testing_outputs
installation/test_installation/taxdump.tar.gz
installation/test_installation/__pycache__
installation/Ninja_data/NINJA-0.95-cluster_only
installation/Ninja_data/NINJA_repo_05112020
installation/Ninja_data/ninja_test.out
scripts/__pycache__
misc
.git
.DS_Store
._.DS_Store
._perSVade_pipeline_cartoon.pdf
singularity_cache
mikischikora_persvade_v1.sif
perSVade_testing_outputs
docker/perSVade_testing_outputs
