testing/misc_testing
testing/Cglabrata
testing/plots
testing/docker_testing
testing/cross_accuracy_calculations_realSVs
testing/testing_perSVade_benchmark_stderr.txt
testing/testing_perSVade_benchmark_stdout.txt
testing/failed_assemblies_taxID5207
testing/genomes_and_annotations
testing/outdirs_testing_severalSpecies
testing/outdirs_testing_severalSpecies_goldenSet
testing/outdirs_testing_humanGoldenSet
testing/misc_testing
testing/Cglabrata_goldenSetReads_BG2
testing/Cglabrata_table_short_reads.tab
testing/taxdump.tar.gz
testing/std_files_testingAccuracy
testing/Cglabrata_testingSimulations
testing/testing_HrantCalbicansInput
testing/Cglabrata_reads
installation/external_software
sync_git.py
installation/test_installation/__pycache__
installation/test_installation/testing_outputs
installation/test_installation/taxdump.tar.gz
installation/test_installation/__pycache__
installation/Ninja_data/NINJA-0.95-cluster_only
installation/Ninja_data/NINJA_repo_05112020
installation/Ninja_data/ninja_test.out
scripts/__pycache__
singularity_cache
mikischikora_persvade_v1.sif
perSVade_testing_outputs
./._.DS_Store
./.DS_Store
./._perSVade_pipeline_cartoon.pdf